a.logo(href="/")
.search-bar
  input(type="text", placeholder="Enter a keyword...")
.navigation
ul.dropdown
  li.nav-li
    a(href="/about") About
  li.nav-li
    a(href="/login") Login
.mobile-nav.icon-reorder
ul.mobile-dropdown
  li.mobile-nav-li
    a(href="/about") About
  li.mobile-nav-li
    a(href="/login") Login
