a.logo(href="/")
.search-bar
  input(type="text", placeholder="Enter a keyword...")
  span.search-icon.icon-search
.navigation
ul.dropdown
  a(href="/about").nav-li.group
    li
      | About
  a(href="/login").nav-li
    li
      | Login
.mobile-nav.icon-reorder
ul.mobile-dropdown
  a(href="/about").mobile-nav-li
    li
      | About
  a(href="/login").mobile-nav-li
    li
      | Login
