a.list-map List

.projects-list-container.col.span_1_of_3.inactive
  ul.project-list

    a(href="/projects/1")
      li.project-li
        h2.project-title Save The Bay
        h3.project-org All Stars Project, Inc.
        ul.impact-list
          li.impact-li Kids,
          li.impact-li Low Income,
          li.impact-li Community,
          li.impact-li Education
        ul.causes-list
          li.causes-li Hands On,
          li.causes-li Good with Kids,
          li.causes-li Friendly

    a(href="/projects/2")
      li.project-li
        h2.project-title Rolling Stones Animal Help
        h3.project-org Animal Shelters of San Francisco
        ul.impact-list
          li.impact-li Animals,
          li.impact-li Community
        ul.causes-list
          li.causes-li Social Media,
          li.causes-li Communications

    a(href="/projects/3")
      li.project-li
        h2.project-title Soccer In The Park
        h3.project-org Special Olympics of Northern California
        ul.impact-list
          li.impact-li Physical Activity
        ul.causes-list
          li.causes-li Hands On,
          li.causes-li Good with Kids,
          li.causes-li Friendly

    a(href="/projects/4")
      li.project-li
        h2.project-title Cat Care
        h3.project-org Animal Shelters of San Francisco
        ul.impact-list
          li.impact-li Animals,
          li.impact-li Community
        ul.causes-list
          li.causes-li Social Media,
          li.causes-li Communications

.projects-map-container.col.span_2_of_3
  #map-canvas
