.cover-image.section
  img(src="/images/large_soccer.jpg")
  a(href="/projects").back 
    | <
  span.caption
    h1 Soccer In The Park
    h2 Special Olympics of Northern California

.project-details.section
  .interested-volunteers.group
    p.tagline Interested:
    ul.interested-list
      li.interested-li
        figure.volunteer-profile.add
          span.icon-plus
        p.volunteer-name You?
      li.interested-li
        figure.volunteer-profile
          img(src='/images/mini_profile.jpg')
        p.volunteer-name Brandon S.
      li.interested-li
        figure.volunteer-profile
          img(src='/images/mini_profile.jpg')
        p.volunteer-name Jennifer A.
      li.interested-li
        figure.volunteer-profile
          img(src='/images/mini_profile.jpg')
        p.volunteer-name Kim B.
  .project-deets
    .skills
      p.deet-header Skills:
      p.copy Physical Activity
    .description
      p.deet-header Description:
      p.copy
        | Come practice soccer with the athletes in Golden Gate Park
        | on Sunday morning. We have an average of 20-25 special athletes
        | of all ages (from 10 to 73 years old!) and all ability levels at
        | our weekly practice.
    .date
      p.deet-header September 9th, 10:00am
    .location
      p.deet-header
        | Golden Gate Park, 1400 John F. Kennedy Dr., San Francisco, CA


