.header
  width: 100%
  position: fixed
  border: 1px solid #ccc
  padding: 1em 0 
  top: 0
  left: 0
  background: white

  .logo
    float: left
    margin-left: 2em
    display: inline-block
    width: 80px
    height: 30px
    cursor: pointer
    background: gray
    transition-property: background
    transition-duration: 0.3s

    &:hover
      background: black
      transition-property: background
      transition-duration: 0.3s

 .search-bar
   width: 40%
   margin: 0 auto
   display: inline-block

   > input
     border: 1px solid #ccc
     border-radius: 0
     height: 30px

  .navigation
    float: right
    margin-right: 2em
    cursor: pointer
    width: 30px
    height: 30px
    border: 4px double gray

  .dropdown
   display: none

   &.active
     display: inline-block
     position: absolute
     top: 50px
     right: 26px
     z-index: 100
     background: white
     border: 1px solid #ccc
     list-style: none
     padding: 1em

     .nav-li
       font-size: 1.2em
       margin-bottom: 1em

       &:last-of-type
        margin-bottom: 0

  .mobile-nav
    display: none
    font-size: 2.5em
    float: right
    margin-right: 1em
    width: 30px
    height: 30px
    cursor: pointer
    color: gray
    transition-property: color
    transition-duration: 0.3s

    &:hover
      color: black
      transition-property: black
      transition-duration: 0.3s

  .mobile-dropdown
   display: none

   &.active
     display: block
     width: 100%
     list-style: none
     margin: 0
     padding: 0

     .mobile-nav-li
       display: block
       width: 100%
       text-align: center
       padding: 1em
       border-bottom: 1px solid #ccc
       font-size: 2em
       transition-property: background
       transition-duration: 0.3s
       cursor: pointer

       &:hover
         background: #fcfcfc
         transition-property: background
         transition-duration: 0.3s

       &:last-of-type
        border-bottom: none

@media screen and (max-width: 720px)
  .header
    .mobile-nav
      display: inline-block

    .navigation
      display: none
