.header
  width: 100%
  position: fixed
  border: 1px solid #ccc
  padding: 1em 0 
  top: 0
  left: 0

  .logo
    margin: 0 auto
    display: inline-block
    width: 80px
    height: 30px
    cursor: pointer
    background: gray
    transition-property: background
    transition-duration: 0.3s

    &:hover
      background: black
      transition-property: background
      transition-duration: 0.3s

 .navigation
   float: right
   margin-right: 2em
   cursor: pointer
   width: 30px
   height: 30px
   border: 4px double gray

   .dropdown
     display: none
