#site-container
  position: relative
  height: auto !important
  min-height: 100%

#page-container
  padding: 1em 1em 5em

#footer-container
  position: absolute
  width: 100%
  bottom: 0
  background: #ddd
  padding: 1em
  border-top: 1px solid #ccc
  z-index: 500
